{extends layout.latte}

{block title}Persons list{/block}

{block body}

<div class="container">
<a class="btn btn-success" href="{link newPerson}"">
Add new person
 </a>



</div>

<table class="table table - stripped table-hover">
<tr>
<th> First name </th>
<th> Last name </th>
<th> Height </th>
<th> Gender </th>
</tr>

{foreach $osoby as $o}
<tr>
<td>{$o['first_name']}</td>
<td>{$o['last_name']}</td>
<td>{$o['height']}</td>
<td>{$o['gender']}</td>

<td>
<a href="#">
<button class="btn- btn-primary">
<span class"fa fa-edit"></span>
</button>
</a>


</td>
</tr>

{/foreach}

</table>

{/block}